.lobster-regular {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    /* background-color: rgb(211, 207, 207); */
    /* overflow: hidden; */
}

.fill_icon {
    font-variation-settings: 'FILL' 1;
}

.left_part {
    width: 400px;
    height: 2000px;
    background-color: white;
}

.right_part {
    width: 300px;
    height: 2000px;
    position: fixed;
    left: 74%;
    margin-left: 10px;
    padding: 10px;
    font-size: 14px;
}

.feed {
    /* border: solid black; */
    /* border-width: 1px; */
    /* border-color: grey; */
    padding-top: 5px;
}

.profile_section {
    display: flex;
    align-items: center;
    margin-left: 5px;
    margin-bottom: 5px;
}

.profile_image {
    border-radius: 50%;
    /* overflow: hidden; */
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.user_id {
    margin-left: 10px;
    font-weight: bold;
}

.photo_section {
    text-align: center;
}

.photo_section img {
    width: 100%;
    height: auto;
}

.icon_section {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    margin-left: 4px;
    margin-right: 4px;
    
}

.link_style {
    text-decoration: none;
    font-weight: bold;
}

.modal_overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    /* block, none : 모달 표시 여부 */    
    display: none;
    /* display: block; */
    /* flex-direction: column; */
    /* align-items: center;
    justify-content: center; */
    background: rgba(31, 30, 30, 0.8);
    /* backdrop-filter: blur(1.5px); */
    /* -webkit-backdrop-filter: blur(1.5px); */
}

.modal_window {
    background: white;
    backdrop-filter: blur(13.5px);
    -webkit-backdrop-filter: blur(13.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 700px;
    height: 700px;
    position: relative;
    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
}