<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>INDEX</title>
</head>

<body>
	<h1>
		제목
	</h1>
	<p>
		이것은 첫 페이지
	</p>
	<img src="https://dimg.donga.com/wps/NEWS/IMAGE/2021/01/17/104953245.2.jpg" width="400"><br>
	<button type="button" onclick="location.href = '/membership'">회원가입</button>
	<button type="button" onclick="location.href = '/main'">메인화면</button>
	<button type="button" onclick="location.href = '/content/test'">content</button>
	<a href="C:\Users\KSM\Desktop\ksm\Programming\kinstagram\kinsta\templates\membership.html">회원</a>

	</div>
</body>

</html>