<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <style>
        .form-group {
            display: table; /* 테이블처럼 동작하도록 설정 */ 
            width: 100%;
            margin-bottom: 10px; /* 간격을 주기 위해 추가 */
        }
        .form-group label {
            display:table-cell;
            width : 80px;
            padding-right: 10px; /* 공백 추가 */
        }
    </style>
</head>
<body>
    <div class="form-group">
        <label for="userid">아이디 :</label>
        <input id="userid" type="text"/>
    </div>
    <div class="form-group">
        <label for="userpassword">비밀번호 :</label>
        <input id="userpassword" type="password"/>
    </div>
</body>
</html>